* {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-family: "Lexend", sans-serif;
  box-sizing: border-box;
}

:root {
  --fondo: rgb(32, 32, 32);
}

::selection {
  background: rgba(177, 177, 177, 0.308);
}

body {
  background: linear-gradient(-45deg, #23a6d5, #0582af, #23a6d5, #086b92);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.cabeza {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  gap: 20px;
}

.cabeza img {
  color: aqua;
}

.cabeza h1 {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 2px;
}

.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  margin: 0 auto;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 10px;
  text-shadow: -1px 0 #23a6d5;
  top: 0;
  color: antiquewhite;
  background-color: #141414;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: animate-glitch 10s infinite linear alternate-reverse;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: -10px;
  text-shadow: 1px 0 var(--fondo);
  top: 0;
  color: #2f6f89;
  background-color: var(--fondo);
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: animate-glitch 2s infinite linear alternate-reverse;
}

@keyframes animate-glitch {
  0% {
    clip: rect(99px, 9999px, 45px, 0);
  }
  5% {
    clip: rect(7px, 9999px, 49px, 0);
  }
  10% {
    clip: rect(52px, 9999px, 79px, 0);
  }
  15% {
    clip: rect(51px, 9999px, 42px, 0);
  }
  20% {
    clip: rect(37px, 9999px, 43px, 0);
  }
  25% {
    clip: rect(38px, 9999px, 9px, 0);
  }
  30% {
    clip: rect(34px, 9999px, 93px, 0);
  }
  35% {
    clip: rect(18px, 9999px, 84px, 0);
  }
  40% {
    clip: rect(100px, 9999px, 75px, 0);
  }
  45% {
    clip: rect(15px, 9999px, 4px, 0);
  }
  50% {
    clip: rect(14px, 9999px, 10px, 0);
  }
  55% {
    clip: rect(4px, 9999px, 75px, 0);
  }
  60% {
    clip: rect(17px, 9999px, 55px, 0);
  }
  65% {
    clip: rect(75px, 9999px, 57px, 0);
  }
  70% {
    clip: rect(39px, 9999px, 84px, 0);
  }
  75% {
    clip: rect(96px, 9999px, 54px, 0);
  }
  80% {
    clip: rect(45px, 9999px, 25px, 0);
  }
  85% {
    clip: rect(60px, 9999px, 100px, 0);
  }
  90% {
    clip: rect(5px, 9999px, 6px, 0);
  }
  95% {
    clip: rect(49px, 9999px, 57px, 0);
  }
  100% {
    clip: rect(54px, 9999px, 90px, 0);
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--fondo);
  position: sticky;
  top: 0;
}

nav img {
  width: 100px;
  height: auto;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-bar a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.4rem;
}

.nav-bar li {
  list-style: none;
  margin: 0 10px;
  padding: 40px 20px;
}

.nav-bar a:hover,
.nav-bar a.active {
  color: #58a7c6;
  transition: ease-in-out 300ms;
}

.nav-bar a.active {
  color: #58a7c6;
  transition: ease-in-out 300ms;
}

#hamburger i {
  color: #58a7c6;
}

#hamburger {
  display: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--fondo);
  position: sticky;
  bottom: 3;
  height: 50px;
  gap: 30px;
  font-size: 30px;
}

.footer i:hover {
  color: #58a7c6;
  transition: ease-in-out 300ms;
}

.about {
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about .info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about img {
  height: auto;
  width: 300px;
  align-items: center;
  border: 3px solid var(--fondo);
  margin: 30px auto;
  border-radius: 100%;
  margin-bottom: 30px;
}

.info-about {
  background-color: var(--fondo);
  margin-top: 40px;
  width: 700px;
  border-radius: 20px;
  padding-bottom: 40px;
}

.about h1 {
  margin: 0px auto 6px auto;
  border-bottom: 2px solid #0582af;
  width: 50%;
}

.about span {
  color: #23a6d5;
  font-weight: bold;
}

.about h4 {
  margin: 0px auto 5px auto;
  color: #23a6d5;
}

.about p {
  border: 2px solid #58a7c6;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 2px;
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
}

.contact {
  height: 100vh;
}

.project-holder {
  margin: 0 auto;
  background-color: #141414;
  width: 60%;
  border-radius: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition-property: display flex;
  transition-duration: 1s;
  transition-behavior: allow-discrete;
}

.project-holder:hover {
  display: block;
  transition: 2s ease-in-out;
}

.project-link img {
  width: 100px;
}

.project-div {
  margin: 0 auto;
  margin-top: 30px;
  background-color: #0582af;
  padding: 40px 0px;
  width: 60%;
  border-radius: 20px;
}

.project-div2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.titulo {
  text-align: center;
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}

.projects {
  height: 100vh;
  overflow: scroll;
}

.projects .titulo {
  background-color: var(--fondo);
  padding: 15px;
  border-radius: 13px;
}

.projects .info {
  background-color: var(--fondo);
  border-radius: 10px;
  width: 260px;
  margin: 0 auto;
  margin-top: 20px;
  position: absolute;
  z-index: 1;
}

.project {
  border: 2px solid #58a7c6;
  border-radius: 20px;
  background-color: var(--fondo);
  margin-bottom: 30px;
  width: 600px;
  height: 100%;
}

.project:hover {
  border: 20px solid #58a7c6;
  animation-name: project;
  animation-duration: 3s;
  transition: ease-in-out 300ms;
}

.project h1 {
  color: #58a7c6;
  border-bottom: 2px dashed whitesmoke;
  width: 250px;
  margin: 0 auto;
  margin-bottom: 5px;
  padding-bottom: 2px;
  font-size: 20px;
}

.project h3 {
  color: var(--fondo);
  font-size: 15px;
  color: #58a7c6;
}

.project-link {
  text-decoration: none;
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.home .info {
  background-color: var(--fondo);
  width: 400px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 30px 0;
  border-radius: 20px;
}

.home .info h1,
h3,
h4 {
  color: #58a7c6;
}

.home .info h1 {
  font-size: 3rem;
}

.home .info h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.home .info h4 {
  font-size: 1.4rem;
}

.boton {
  color: #58a7c6;
  width: 180px;
  margin: 0 auto;
  padding: 2px 20px;
  border: 2px solid #58a7c6;
  border-radius: 10px;
  background-color: var(--fondo);
  text-decoration: none;
  cursor: pointer;
}

.boton:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
  color: black;
  background-color: #23a6d5;
}

.home .info .boton:hover {
  background-color: #58a7c6;
  color: var(--fondo);
  transition: ease-in-out 300ms;
}

.contact {
  background-position: center;
  background-size: cover;
}

form {
  background: var(--fondo);
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
  border-radius: 20px;
}

form h3 {
  color: #58a7c6;
  font-weight: 800;
  font-size: 40px;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.397);
  font-size: 15px;
  border-radius: 15px;
}

form button {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.397);
  font-size: 15px;
  border: 2px solid #58a7c6;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 0 auto;
  margin-top: 25px;
  border-radius: 20px;
}

form button:hover {
  background-color: #58a7c6;
  color: var(--fondo);
  transition: ease-in-out 300ms;
}

/* --------------------------------------------------------------------------------------------- */
/* Media Queries */
@media (max-width: 769px) {
  nav {
    display: flex;
    flex-direction: column;
    z-index: 1;
  }

  .nav-bar {
    display: none;
  }

  .nav-bar.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    border-top: 2px solid #58a7c6;
    padding: 0px 5rem;
    background-color: #2f6f89;
    font-size: 1.6rem;
    border-radius: 20px;
    width: 100%;
  }

  .nav-bar li {
    border-bottom: 2px solid #58a7c6;
  }

  #hamburger {
    display: flex;
    cursor: pointer;
  }

  #hamburger i {
    font-size: 2rem;
    margin-top: 7px;
    cursor: pointer;
  }

  .footer i:hover {
    color: #58a7c6;
    transition: ease-in-out 300ms;
  }

  .about {
    height: 90vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .about .info {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.425);
  }

  .info-about {
    width: 100%;
    border-radius: 0px;
    margin: 0;
    height: 100%;
  }

  .about img {
    height: auto;
    width: 250px;
    align-items: center;
    border: 3px solid #58a7c6;
    margin: 30px auto;
    border-radius: 20px;
  }

  .about h1 {
    margin: 0px auto 5px auto;
    border-bottom: 2px solid #58a7c6;
    width: 50%;
  }

  .about span {
    color: #58a7c6;
  }

  .about h4 {
    margin: 0px auto 5px auto;
    color: #58a7c6;
  }

  .about p {
    border: 2px solid #58a7c6;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 2px;
    width: 80%;
  }

  .contact {
    height: 100vh;
  }

  .project-holder {
    margin: 0 auto;
    background-color: #0582af;
    width: 88%;
    border-radius: 10px;
  }

  .projects .info {
    background-color: var(--fondo);
    border-radius: 10px;
    width: 70%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
  }

  .project-link img {
    width: 100px;
  }


  .project-div {
    margin: 0 auto;
    margin-top: 0px;
    background-color: var(--fondo);
    padding: 40px 0px;
    width: 94%;
    border-radius: 20px;
    margin-bottom: 34px;
  }

  .project-div2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 19px;
    margin-top: 0px;

  }


  .projects {
    min-height: 100vh;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
  }

  .projects .titulo {
    background-color: var(--fondo);
    padding: 10px;
    margin-top: 250px;
    margin-bottom: 0px;
    width: 100%;
    border-radius: 0px;
    border-top: 4px solid #086b92;
  }

  .projects .info {
    background-color: var(--fondo);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }

  .project {
    border-radius: 40px;
    border: 2px solid #58a7c6;
    margin-bottom: 30px;
    width: 300px;
    height: 300px;
  }

  .project h1 {
    color: #58a7c6;
    border-bottom: 2px dashed whitesmoke;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 5px;
    padding-bottom: 2px;
    font-size: 20px;
  }

  .project h3 {
    color: var(--fondo);
    font-size: 15px;
    color: #58a7c6;
  }

  .project-link {
    text-decoration: none;
  }

  .home {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    text-align: center;
    justify-content: center;
    height: 90vh;
  }

  .home .info {
    background-color: rgba(32, 32, 32, 0.568);
    padding: 30px 0;
    width: 83%;
    border-radius: 0px;
    margin-top: 0;
  }

  .home .info h1,
  h3,
  h4 {
    color: #58a7c6;
  }

  .home .info h1 {
    font-size: 3rem;
  }

  .home .info h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .home .info h4 {
    font-size: 1.4rem;
  }

  .home .info .boton {
    color: #58a7c6;
    padding: 2px 20px;
    border: 2px solid #58a7c6;
    border-radius: 10px;
    background-color: transparent;
    text-decoration: none;
  }

  .home .info .boton:hover {
    background-color: #58a7c6;
    color: var(--fondo);
    transition: ease-in-out 300ms;
  }
}
